.messages {
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-weight: 600;
    width: auto;
    background-color: rgba(0, 0, 0, 0.66);
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.message {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.title {
    composes: message;
    font-size: 22px;
    padding: 4px 4px 12px 4px;
}

.value {
    font-weight: 400;
}
