.root {
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: #fff;
    font-weight: bold;
    height: 62px;
    overflow: hidden;
}

.rootWithSponsor {
    composes: root;
    height: calc(62px + 16px);
}
