.root {
    position: absolute;
    z-index: 2;
    top: 24px;
    right: 24px;
    height: 64px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    overflow: hidden;
}

.spot {
    flex-grow: 0;
    flex-shrink: 1;
}

.image {
    height: 100%;
    width: auto;
    object-fit: contain;
    padding: 4px;
}
