:global .background {
    background: center no-repeat url(./background.png);
}

:global .logo {
    background-image: url(./logo.png);
}

:global .progressBar {
    background-color: #00CC7B;
}

:global .splash {
    background-image: url(./logo.png);
}

:global .watermark {
    background-image: url(./watermark.png);
    background-size: 57px 57px;
}
