*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    text-size-adjust: 100%;
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

:global #app {
    height: 100%;
}

:global [data-player] {
    height: 100%;
}
